<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>person</title>
</head>
<body>

    <form method="post" style="width:50%; margin-left: 10px">
      <div class="form-group">
        <input type="text" name="year" class="form-control" placeholder="year"><br>
        <input type="text" name="age" class="form-control" placeholder="age"><br>
        <input type="text" name="name" class="form-control"  placeholder="name"><br>
      </div>
    <button type="submit" class="btn btn-primary">Add </button>
    </form>
</body>
</html>